body::before {
    content: "<<< PRINT CSS LOADED >>>";
    white-space: pre;
    background-color: red;
    font-size:  50px;
}

body::after {
    content: "<<< PRINT CSS LOADED >>>";
    white-space: pre;
}
