*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
img {
  max-width: 100%;
  margin-bottom: 25px;
}
.test-class {
  background-color: red;
  font-color: #ff0707;
}
/*

	Filename: 		typography	
	
*/
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
body {
  /*	font-family:				'SegoeWPNRegular', 'SegoeWPRegular', 'Segoe WP N', 'Helvetica', Arial, Georgia; */
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-family: 'Century Gothic', Helvetica, Arial, Verdana sans-serif;
  font-size: 15px;
  xfont-size: 14px;
}
.custom-center-text,
.custom-center-content {
  text-align: center;
  xborder: 1px solid blue;
}
/*
			if using Century gothic
		*/
/*
	.jumbotron p,
	.jumbotron .custom-section-content p
	{
		font-size: 20px;
		color: 	#555;
		text-align: justify;
	}
	*/
/*

	Filename: 		overwrites-html	
	
*/
html {
  height: 100%;
  min-height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
}
blockquote {
  min-height: 200px;
}
/*

	Filename: 		overwrites-bootstrap
	
*/
.jumbotron {
  XXXborder: 1px solid white;
  background: none;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  padding: 0px;
  /* not sure about this at all */
}
/*

	Filename: 		section-all-calendar	
	
*/
.html-section-id-calendar-child {
  background: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.html-section-id-calendar-child p {
  color: white;
}
/*

	Filename: 		section-all-carousel	
	
*/
.carousel-inner .container {
  padding-top: 30px;
  padding-bottom: 50px;
}
.carousel {
  margin-bottom: 60px;
}
.carousel-control,
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0001) 0, rgba(255, 255, 255, 0.5) 100%);
}
.carousel-indicators {
  bottom: 10px;
}
#quotes img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 30px;
  text-align: left;
  border: 1px solid #ccc;
  padding: 2px;
}
#quotes p strong {
  color: #ff33cc;
  font-size: 110%;
}
.carousel-control .glyphicon {
  background-repeat: no-repeat;
}
.carousel-control .glyphicon:before {
  content: "";
}
/*

	Filename: 		section-all-four-images
	
*/
/*

	Filename: 		section-all-header
	
*/
/*

	Filename: 		section-all-id-generic-intro	
	
*/
.html-section-id-generic-intro-child {
  padding-top: 200px;
  background: none;
  background-color: #666;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.html-section-id-generic-intro-child h1,
.html-section-id-generic-intro-child h2 {
  margin-bottom: 20px;
  margin-bottom: 35px;
  color: white;
  text-shadow: 0px 0px 20px #ccc;
}
.html-section-id-generic-intro-child h3,
.html-section-id-generic-intro-child h4 {
  font-size: 20px;
  color: #999;
  letter-spacing: 1px;
  text-shadow: 0px 0px 20px #333;
}
.html-section-child-table {
  border-top: 2px solid black;
  display: table;
  width: 100%;
  height: 100%;
}
.html-section-child-table-gradient {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(30%, rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 30%);
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 30%);
  background: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 30%);
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 30%);
  background: linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 30%);
  background: linear-gradient(to top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.7) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0) progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/1x1.png');
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  .html-section-full {
    height: 115%;
    min-height: 105%;
    min-height: 550px;
    height: 100%;
    min-height: 100%;
    margin-bottom: 45px;
    border: 1px solid #000;
    min-height: 650px;
    display: block;
  }
  .html-section-child-full {
    height: 100%;
    min-height: 550px;
    padding: 0px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .html-section-child-full .jumbotron {
    margin: 0px auto;
    padding-top: 0px;
    vertical-align: middle;
    display: table-cell;
  }
  .html-section-id-intro-child h1 {
    font-size: 75px;
    color: white;
  }
  .html-section-id-intro-child h1 small {
    padding-bottom: 0.6em;
    padding-left: 0.1em;
    display: block;
    font-size: 40%;
    color: #999;
  }
  .html-section-id-intro-child .custom-image-placeholder-right {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .html-section-id-intro-child {
    text-align: left;
  }
  .html-section-id-intro-child .custom-image-placeholder-right {
    margin-top: 40px;
  }
  .html-section-id-kevinjohn-child .custom-section-content .custom-image-placeholder-right {
    margin-top: 40px;
  }
}
/*

	Filename: 		section-all-id-generic-second	
	
*/
.html-section-id-generic-second-child .jumbotron h1 {
  color: red;
}
.html-section-id-generic-second-child .jumbotron h2 {
  font-size: 45px;
}
.html-section-id-kevinjohn-child .jumbotron h2 {
  font-size: 65px;
}
/*

	Filename: 		section-all-id-single-quote	
	
*/
.html-section-id-single-quote-child {
  background-color: #333;
  color: #fff;
}
.html-section-id-single-quote-child .custom-section-content p {
  text-align: center;
  font-size: 250%;
  margin-bottom: 3em;
}
/*

	Filename: 		section-all-list-full	
	
*/
/*

	Filename: 		section-all-list-with-images
	
*/
/*

	Filename: 		section-all-nav-footer	
	
*/
.custom-footer {
  background-color: #333;
  color: #ccc;
}
/*
	Footer of Page
*/
.html-footer-page-child {
  min-height: 175px;
  background-color: #111;
  padding: 60px 0px 60px;
  color: #ccc;
}
.custom-footer-image {
  border: 0px solid red;
}
.custom-footer-image img {
  margin-top: 10px;
  max-width: 100%;
}
.html-footer-page-child h1 {
  color: #fff;
}
.html-footer-page-child h2 {
  xcolor: #ccc;
}
.html-footer-page-child h4,
.html-footer-page-child h5,
.html-footer-page-child h6 {
  padding-top: 15px;
  padding-top: 4px;
  color: #ff3399;
}
.html-footer-page-child p {
  xdisplay: none;
  margin-bottom: 20px;
}
.html-footer-page-child .right-hand-column {
  margin-top: 10px;
  border: 0px solid red;
}
.html-footer-page-child .custom-section-content .left-hand-column,
.html-footer-page-child .custom-section-content .right-hand-column {
  margin-bottom: 50px;
}
.html-footer-page-child .custom-section-content .right-hand-column .row div:first-child .fa-circle {
  color: #ff3399;
  margin-top: 2px;
  margin-left: -1px;
}
.html-footer-page-child .custom-section-content .right-hand-column .row div:first-child {
  padding-top: 3px;
  color: #ffcc99;
  font-size: 22px;
}
.html-footer-page-child .custom-section-footer {
  color: #333;
}
/*

	Filename: 		section-all-nav-header	
	
*/
.custom-main-navigation {
  background-color: #111;
  width: 100%;
  display: block;
  color: white;
}
.custom-main-navigation .custom-main-navigation-home-link {
  border: 0px solid red;
}
.custom-main-navigation .custom-main-navigation-home-link a h1 {
  border: 0px solid red;
  margin-top: 0px;
}
.custom-main-navigation .custom-main-navigation-home-link a img {
  border: 0px solid red;
  width: 100%;
  padding-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.custom-main-navigation .custom-main-navigation-home-link a span {
  padding-top: 22px;
  display: block;
  color: white;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.custom-main-navigation ul,
.custom-main-navigation ol {
  border: 0px solid red;
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
  xwidth: 600px;
}
.custom-main-navigation ul li,
.custom-main-navigation ol li {
  list-style: none;
  border: 0px solid yellow;
  float: right;
  margin: 0px;
  padding: 0px;
  margin-left: 20px;
  padding-top: 30px;
}
.custom-main-navigation ul li a,
.custom-main-navigation ol li a {
  border: 0px solid green;
  margin: 0px;
  padding: 0px;
  color: #ccc;
  font-size: 16px;
  height: 100%;
  text-decoration: none;
  width: 90px;
  display: block;
  text-align: center;
}
.custom-main-navigation ul li a.menu-icon-only,
.custom-main-navigation ol li a.menu-icon-only {
  width: 32px;
}
.custom-main-navigation ul li a:hover,
.custom-main-navigation ol li a:hover {
  color: #ff3399;
}
/*

	Filename: 		section-all-portfolio	
	
*/
/*

	Filename: 		section-all-six-points	
	
*/
.html-section-class-six-points-child,
.html-section-id-intro-points-child {
  xbackground-color: #DD496D;
  padding: 0px;
}
.html-section-class-six-points-child img,
.html-section-id-intro-points-child img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  margin-top: 15px;
  opacity: 0.7;
}
.html-section-class-six-points-child .custom-section-content h4,
.html-section-class-six-points-child .custom-section-content h3,
.html-section-id-intro-points-child .custom-section-content h4,
.html-section-id-intro-points-child .custom-section-content h3 {
  min-height: 1.5em;
  text-align: center;
  color: #333;
  font-size: 22px;
}
.html-section-class-six-points-child .custom-section-content p,
.html-section-id-intro-points-child .custom-section-content p {
  text-align: justify;
  color: #666;
  min-height: 115px;
  display: block;
  margin-bottom: 20px;
  xbackground-color: red;
  padding: 0px 15px;
}
/*

	Filename: 		section-all-video	
	
*/
/*

	Filename: 		section-home-header	
	
*/
/*

	Filename: 		section-home-bima	
	
*/
.html-section-id-bima-above-footer-child {
  background-color: #222;
  background-color: #ffcc99;
  background-color: #ffeecc;
  background-color: #eee;
}
.html-section-id-bima-above-footer-child .jumbotron,
.html-section-id-bima-above-footer-child .container {
  border: 0px solid red;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/*

	Filename: 		section-all-qualification	
	
*/
.custom-dl-with-icons {
  margin-bottom: 75px;
  display: block;
  border: 0px solid red;
}
.custom-dl-with-icons dt {
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 30px;
}
.custom-dl-with-icons dd {
  margin-bottom: 20px;
}
.custom-list-icon {
  color: #999;
  color: #ff3399;
  opacity: 0.75;
}
.custom-list-text {
  font-size: 16px;
  color: #666;
  display: inline-block;
}
/*

	Filename: 		section-all-client-logos	
	
*/
.html-section-id-client-logos-child img {
  max-width: 60%;
  margin-bottom: 50px;
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
}
.btn-primary {
  background-color: pink;
  background-color: #ff33cc;
  border-color: #cc0099;
}
.btn-primary:hover {
  border-color: #ff33cc;
  background-color: #cc0099;
}
/*

	Filename: 		component-images-icons-background	
	
*/
.glyphicon-chevron-left {
  background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA1ZJREFUeNqUVk1IVFEUvu/Nm9FxZlIUgoZwFg0ZKEGIm0AIgqByEW1y1aIW7kMSWijjKnDVInBZ0ao2QQRtWgZF0yLBRWBFLhTUcHT+HOev77t5hsv1vsEunDlv3j3nfOfvnvs8FbLa7XbnuVqtpkEXW63W6WazeTYSifz0fb+QSCS+9PT0/BE5z/OctrwwABiL7e7uTsP4QyiPwrA2QuI+qdFo8P/neDz+eHBw8C2emy4gz+V9oVCYLJVKL6PR6DBIwWtFbhqgbL1eV4hOc9C3/v7+u6lUasWOyrMBtre3Z+Dhcm9vr6L35ASwUyhGCHBwcKCjAm9A/vZRVG6QnZ2dGXi2HIvFtHHkW3vKPVca5D0jrdVqmggIvesDAwPvRccT4f39/csQ+kjDyLGOggAdwRAQ4QRCHdkkpGoymbyExviunZAiw4MXBGAU3KDC/yzKU4/6cDJeLpefwra271MAUUwjPefoPfMvaTBJFnNPkuhMoh71aQdgV2H3CuWI5CMtj6SDxCPbuAAsLCyoXC7XAbLBqE87QRBQ5gH3A6QpA9QRl1FzsaiLi4sqn88rtKra2tpS6XT6+JkwagiwmwBKBPgZY3iMRApoA9oAS0tLxwBMeTaMHN7Dw8PzAd4NS5iSVztFNkAmkzkmJ10mRHtHHXcG3E92S5PZxuKxC8A5s/5l5JSPn5K0oGuxJefn59XExITa29tTs7Ozan19/UQtrTsLg5SR/LAHn03sFBNobm5ObW5uhsqbRwD2N3wUaFXSYQuaywTKZrNqaGgotB6iC7sNdNiax3OCIbcCPlqpVPTMcnWY2QgC6gJhDTm/+vr6aOcV5O7wxLdgLCezp1s0YjwMwO4srCc6oqONCDxYhZcjuEcUBpsU7cQDUggzS2E40pF3KMWUzogIAWQcPE8Qhsy0mSk7CQjTRMcAUuVtiudfuvhiAC++gu7hZtMKrI/kuFsXyT7l+Ux92JkSAOfNCH4L7HWxWAykEWT8uyLB2OgUGgBFyF3D1ifnzWhdr2N4foYajQNMzy7XhwQLzDuI3qMGH6B3H/u/u00Qu1t4DdwAvUEa2rjs2ihqGzXTnP/5Hus5aDKsG0M/ieyPBqwU6AKIJ5BfFXXQBmgNVOn2zcX1V4ABAGiLqVOZDBtxAAAAAElFTkSuQmCC");
}
.glyphicon-chevron-right {
  background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA1tJREFUeNqUVj1oU1EUvu8lTZo/EyoVDFIpBiu0CFK6CAVBENQO4mInBx26S7Hg0JJO7eggdFRx0kUQwcVRUIyDhQ6BqpghQ1tp2qRJ2/z5fZeccvt6X9oeOO++5J77fefn3nOfo3yk3W4fvNdqtTT0aqvVOtdsNi8EAoHfruuWYrHY93A4/E/sHMexYjl+BAALbW5uTgL8KRYPA1iDUDlPbTQa/P0tEoks9PX1fcB700bk2LwvlUrjlUrlTU9PzwBUwWvF0QSgbb1eV4hOj9CfyWTyYSKRWPZG5XgJ1tfXp+DhUm9vr6L3HEngTaGAkGB3d1dHhbEB+/udqOwkGxsbU/BsCXlWovSUc7Y0yP+MdG9vTysJse52KpX6JGscMd7e3r4Ooy8ERo51FCQ4MPQhkZFEqCM3CbUWj8evYWPktRNSZHjwmgShUEgDcsFphPZcx/VwMrKzs/MC2BrfpQGimEQuL9F75l/SYCqFeaeadTGV67ieOCC7CdwbtCOTi7Q8kx0kHpngQpDNZtXc3NwhIi8Z1xMnGAzS7okmQZougnXIBmzK2tqayufzKpfLaSIW2XrwDByQ3QVRzMVjhOFRvWkyJZ1Oq8XFRYWzoInm5+cPEXnTRjxGs7+/f5k1GZAw5ST76eDg4BEinhObraQdpTiPUrhxvxTZtiw9NL3nNveTTmRnXDwqsgWPk0KhoKanp9XW1pYaGxtTs7Ozesv6bWlddDTSIB6/vI3PJsViUc3MzBwiYM5NezNdRo2KQYS/Yp5cW3+i9Pf3q0wmo9+FwJtKUzvrG7BbdXhOULxljMPValU3RJ4Z2w6T8+ElMElYI/avaDRKnLewfcDd1QJYVnqPzSMRgncjMHcW8SDPdUSdiQA8WIGnQ7hHFBrbkfNyXIMURc9SaI505iNKMaExxAgkoxhzJGHITNtpSZgmRgCSGm9TvP/RXVgA8McP6CPcbHoB6yM57nZAZZ72fOd64EwIgfVmxHgPw7tyuRyUjSDt3xYJ2sZBoUFQht0tTH213oye63UE7y9Ro1GQ6R5l+5BggXkH0XvU4DPWPcb83xN1kA4Ir4E70PdIQxuXXRtFbaNmeuRv/g95BR3vdpCdk3x3QRLQK9CzUH5V1NkEoKvQardvLsp/AQYA4QOqyP2uh70AAAAASUVORK5CYII=");
}
/*

	Filename: 		component-images	
	
*/
.custom-icon-as-image {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  margin-top: 15px;
  opacity: 0.7;
}
.custom-section-content .custom-image-placeholder-right {
  text-align: center;
  margin: 0px auto 25px;
}
.custom-section-content .custom-image-placeholder-right img {
  max-width: 96%;
}
.custom-center-content img.thumbnail {
  display: inline;
}
/*

	Filename: 		component-video
	
*/
/*

	Filename: 		component-images-background-jumbotron	
	
*/
.jumbotron-background-image-waves {
  background-image: url('../../../_assets/images/jumbotron-backgrounds/waves.jpg');
}
.jumbotron-background-image-music-desk {
  background-image: url('../../../_assets/images/jumbotron-backgrounds/tumblr_n4efdyyCNB1st5lhmo1_1280.jpg');
}
.jumbotron-background-image-mac-on-desk-open {
  background-image: url('../../../_assets/images/jumbotron-backgrounds/tumblr_mnh29fxz111st5lhmo1_1280.jpg');
}
/*

	Filename: 		component-html-section-child
	
*/
.html-section {
  display: block;
}
.html-section-child {
  display: block;
  width: 100%;
  display: table;
  border-bottom: 1px solid #eee;
}
/*
		File: component-html-section-header
		*/
.custom-section-header,
.custom-section-heading {
  xxxbackground-color: yellow;
  margin-bottom: 50px;
}
.custom-section-heading h3 {
  margin-top: 75px;
  margin-bottom: 15px;
  text-transform: capitalize;
  text-transform: uppercase;
}
.custom-section-heading h5 {
  color: #666;
}
.custom-section-content {
  xxxbackground-color: green;
  margin-bottom: 30px;
}
/*
				.custom-section-content .custom-image-placeholder-right	
				{
					xxxbackground-color: 		purple;
					text-align: 			center;
					margin-bottom: 			25px;	
				}
			
					.custom-section-content .custom-image-placeholder-right  img	
					{
						width: 			300px;
						
					}
			*/
.custom-section-footer {
  xxxbackground-color: blue;
  margin-bottom: 20px;
  border: 0px solid red;
  margin-bottom: 75px;
}
.custom-section-footer p {
  xxxtext-align: right;
}
.custom-table-article-list tbody tr td:first-child {
  padding: 20px 30px;
}
.custom-table-article-list h5,
.custom-table-article-list .custom-table-article-list-title {
  font-size: 120%;
  font-weight: bold;
}
