body::before {
    content: "<<< PRINT CSS LOADED >>>";
    white-space: pre;
}

body::after {
    content: "<<< PRINT CSS LOADED >>>";
    white-space: pre;
}

header, footer
{
    border: 5px dashed red;
    margin: 10em;
}

article
{
    border: 5px dashed green;
    margin: 10em;
}

section
{
    border: 5px dashed yellow;
    margin: 10em;
}

main
{
    border: 5px dashed blue;
    margin: 10em;
}

area, aside, audio, bdi, embed, figure, figcaption, iframe, nav, noscript, object, video
{
    display:block;
    background-color: black;
    border: 5px solid black;
    margin: 10em;
}
