body::before {
    content: "<<< PRINT CSS LOADED >>>";
    white-space: pre;
}

body::after {
    content: "<<< PRINT CSS LOADED >>>";
    white-space: pre;
}

/*
header
{
    border: 5px dashed red;
    margin: 1em;
}

article>header
{
    border: 5px dashed yellow;
    margin: 1em;
}


footer
{
    border: 5px dashed red;
    margin: 1em;
}


article
{
    border: 5px dashed green;
    margin: 1em;
}

section
{
    border: 5px dashed yellow;
    margin: 1em;
}

main
{
    border: 5px dashed blue;
    margin: 1em;
}

nav
{
    border: 5px dashed purple;
    margin: 1em;
}

area, aside, audio, bdi, embed, figure, figcaption, iframe, noscript, object, video
{
    background-color: black;
    border: 5px dashed black;
    margin: 10em;
}


body>div { border: solid 10px red; 
       margin:20px;
}
*/


/*
    Ok, start to just be opinionated and hide things
*/
/*
main
{
    border:     2px solid green;    
}

article
{
    border:     2px solid yellow;
}

header, footer, nav, area, aside, audio, bdi, embed, figure, figcaption, iframe, noscript, object, video
{
    background-color: #000;
    opacity: 0.2;
    display:none; !important
}
*/

header,
footer,
nav,
aside,
video,
audio,
figure,
[aria-hidden="true"],
section[aria-role="region"],
section[role="region"],
[aria-role="presentation"],
[role="presentation"]
{
	visibility: 	hidden;
	display: none !important;
}

main
{
		border: 	5px solid green;
	display: 	block;
	visibility: visible;
}

section
{
		border: 	5px solid yellow;
		display: 	block;
	visibility: visible;
}

div
{
	
}
