*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
img {
  max-width: 100%;
  margin-bottom: 25px;
}
/*

	Filename: 		section-all-banner-top	
	
*/
.html-section-id-generic-intro-child {
  padding-top: 200px;
  /*
			background: #2c3c74;
			background: -webkit-linear-gradient(15deg, #85BBCD 12%, #2c3c74 72%);
			background: -moz-linear-gradient(15deg, #85BBCD 12%, #2c3c74 72%);
			background: -o-linear-gradient(15deg, #85BBCD 12%, #2c3c74 72%);
			background: linear-gradient(15deg, #85BBCD 12%, #2c3c74 72%);		
			
			*/
  background: none;
  background-color: #666;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.html-section-id-generic-intro-child h1,
.html-section-id-generic-intro-child h2 {
  margin-bottom: 20px;
  margin-bottom: 35px;
  color: white;
  text-shadow: 0px 0px 20px #2c3c74;
}
.html-section-id-generic-intro-child h4 {
  color: #999;
}
@media only screen and (min-width: 768px) {
  .html-section-full {
    height: 115%;
    min-height: 105%;
    min-height: 550px;
    height: 100%;
    min-height: 100%;
    margin-bottom: 45px;
  }
  .html-section-child-full {
    height: 100%;
    min-height: 550px;
    overflow: hidden;
    padding: 0px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .html-section-child-full .jumbotron {
    margin: 0px auto;
    padding-top: 0px;
    vertical-align: middle;
    display: table-cell;
  }
  .html-section-id-intro-child h1 {
    font-size: 55px;
  }
  .html-section-id-intro-child .custom-image-placeholder-right {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .html-section-id-intro-child {
    text-align: left;
  }
  .html-section-id-intro-child h1 {
    font-size: 55px;
  }
  .html-section-id-intro-child .custom-image-placeholder-right {
    margin-top: 40px;
  }
  .html-section-id-kevinjohn-child .custom-section-content .custom-image-placeholder-right {
    margin-top: 40px;
  }
}
