*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
img {
  max-width: 100%;
  margin-bottom: 25px;
}
.btn-primary {
  background-color: pink;
  background-color: #ff33cc;
  border-color: #cc0099;
}
.btn-primary:hover {
  border-color: #ff33cc;
  background-color: #cc0099;
}
/*

	Filename: 		component-images-icons-background	
	
*/
.glyphicon-chevron-left {
  background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA1ZJREFUeNqUVk1IVFEUvu/Nm9FxZlIUgoZwFg0ZKEGIm0AIgqByEW1y1aIW7kMSWijjKnDVInBZ0ao2QQRtWgZF0yLBRWBFLhTUcHT+HOev77t5hsv1vsEunDlv3j3nfOfvnvs8FbLa7XbnuVqtpkEXW63W6WazeTYSifz0fb+QSCS+9PT0/BE5z/OctrwwABiL7e7uTsP4QyiPwrA2QuI+qdFo8P/neDz+eHBw8C2emy4gz+V9oVCYLJVKL6PR6DBIwWtFbhqgbL1eV4hOc9C3/v7+u6lUasWOyrMBtre3Z+Dhcm9vr6L35ASwUyhGCHBwcKCjAm9A/vZRVG6QnZ2dGXi2HIvFtHHkW3vKPVca5D0jrdVqmggIvesDAwPvRccT4f39/csQ+kjDyLGOggAdwRAQ4QRCHdkkpGoymbyExviunZAiw4MXBGAU3KDC/yzKU4/6cDJeLpefwra271MAUUwjPefoPfMvaTBJFnNPkuhMoh71aQdgV2H3CuWI5CMtj6SDxCPbuAAsLCyoXC7XAbLBqE87QRBQ5gH3A6QpA9QRl1FzsaiLi4sqn88rtKra2tpS6XT6+JkwagiwmwBKBPgZY3iMRApoA9oAS0tLxwBMeTaMHN7Dw8PzAd4NS5iSVztFNkAmkzkmJ10mRHtHHXcG3E92S5PZxuKxC8A5s/5l5JSPn5K0oGuxJefn59XExITa29tTs7Ozan19/UQtrTsLg5SR/LAHn03sFBNobm5ObW5uhsqbRwD2N3wUaFXSYQuaywTKZrNqaGgotB6iC7sNdNiax3OCIbcCPlqpVPTMcnWY2QgC6gJhDTm/+vr6aOcV5O7wxLdgLCezp1s0YjwMwO4srCc6oqONCDxYhZcjuEcUBpsU7cQDUggzS2E40pF3KMWUzogIAWQcPE8Qhsy0mSk7CQjTRMcAUuVtiudfuvhiAC++gu7hZtMKrI/kuFsXyT7l+Ux92JkSAOfNCH4L7HWxWAykEWT8uyLB2OgUGgBFyF3D1ifnzWhdr2N4foYajQNMzy7XhwQLzDuI3qMGH6B3H/u/u00Qu1t4DdwAvUEa2rjs2ihqGzXTnP/5Hus5aDKsG0M/ieyPBqwU6AKIJ5BfFXXQBmgNVOn2zcX1V4ABAGiLqVOZDBtxAAAAAElFTkSuQmCC");
}
.glyphicon-chevron-right {
  background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA1tJREFUeNqUVj1oU1EUvu8lTZo/EyoVDFIpBiu0CFK6CAVBENQO4mInBx26S7Hg0JJO7eggdFRx0kUQwcVRUIyDhQ6BqpghQ1tp2qRJ2/z5fZeccvt6X9oeOO++5J77fefn3nOfo3yk3W4fvNdqtTT0aqvVOtdsNi8EAoHfruuWYrHY93A4/E/sHMexYjl+BAALbW5uTgL8KRYPA1iDUDlPbTQa/P0tEoks9PX1fcB700bk2LwvlUrjlUrlTU9PzwBUwWvF0QSgbb1eV4hOj9CfyWTyYSKRWPZG5XgJ1tfXp+DhUm9vr6L3HEngTaGAkGB3d1dHhbEB+/udqOwkGxsbU/BsCXlWovSUc7Y0yP+MdG9vTysJse52KpX6JGscMd7e3r4Ooy8ERo51FCQ4MPQhkZFEqCM3CbUWj8evYWPktRNSZHjwmgShUEgDcsFphPZcx/VwMrKzs/MC2BrfpQGimEQuL9F75l/SYCqFeaeadTGV67ieOCC7CdwbtCOTi7Q8kx0kHpngQpDNZtXc3NwhIi8Z1xMnGAzS7okmQZougnXIBmzK2tqayufzKpfLaSIW2XrwDByQ3QVRzMVjhOFRvWkyJZ1Oq8XFRYWzoInm5+cPEXnTRjxGs7+/f5k1GZAw5ST76eDg4BEinhObraQdpTiPUrhxvxTZtiw9NL3nNveTTmRnXDwqsgWPk0KhoKanp9XW1pYaGxtTs7Ozesv6bWlddDTSIB6/vI3PJsViUc3MzBwiYM5NezNdRo2KQYS/Yp5cW3+i9Pf3q0wmo9+FwJtKUzvrG7BbdXhOULxljMPValU3RJ4Z2w6T8+ElMElYI/avaDRKnLewfcDd1QJYVnqPzSMRgncjMHcW8SDPdUSdiQA8WIGnQ7hHFBrbkfNyXIMURc9SaI505iNKMaExxAgkoxhzJGHITNtpSZgmRgCSGm9TvP/RXVgA8McP6CPcbHoB6yM57nZAZZ72fOd64EwIgfVmxHgPw7tyuRyUjSDt3xYJ2sZBoUFQht0tTH213oye63UE7y9Ro1GQ6R5l+5BggXkH0XvU4DPWPcb83xN1kA4Ir4E70PdIQxuXXRtFbaNmeuRv/g95BR3vdpCdk3x3QRLQK9CzUH5V1NkEoKvQardvLsp/AQYA4QOqyP2uh70AAAAASUVORK5CYII=");
}
/*

	Filename: 		component-images	
	
*/
.custom-icon-as-image {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  margin-top: 15px;
  opacity: 0.7;
}
.custom-section-content .custom-image-placeholder-right {
  text-align: center;
  margin: 0px auto 25px;
}
.custom-section-content .custom-image-placeholder-right img {
  max-width: 96%;
}
.custom-center-content img.thumbnail {
  display: inline;
}
/*

	Filename: 		component-video
	
*/
/*

	Filename: 		component-images-background-jumbotron	
	
*/
.jumbotron-background-image-waves {
  background-image: url('../../../_assets/images/jumbotron-backgrounds/waves.jpg');
}
.jumbotron-background-image-music-desk {
  background-image: url('../../../_assets/images/jumbotron-backgrounds/tumblr_n4efdyyCNB1st5lhmo1_1280.jpg');
}
.jumbotron-background-image-mac-on-desk-open {
  background-image: url('../../../_assets/images/jumbotron-backgrounds/tumblr_mnh29fxz111st5lhmo1_1280.jpg');
}
/*

	Filename: 		component-html-section-child
	
*/
.html-section {
  display: block;
}
.html-section-child {
  display: block;
  width: 100%;
  display: table;
  border-bottom: 1px solid #eee;
}
/*
		File: component-html-section-header
		*/
.custom-section-header,
.custom-section-heading {
  xxxbackground-color: yellow;
  margin-bottom: 50px;
}
.custom-section-heading h3 {
  margin-top: 75px;
  margin-bottom: 15px;
  text-transform: capitalize;
  text-transform: uppercase;
}
.custom-section-heading h5 {
  color: #666;
}
.custom-section-content {
  xxxbackground-color: green;
  margin-bottom: 30px;
}
/*
				.custom-section-content .custom-image-placeholder-right	
				{
					xxxbackground-color: 		purple;
					text-align: 			center;
					margin-bottom: 			25px;	
				}
			
					.custom-section-content .custom-image-placeholder-right  img	
					{
						width: 			300px;
						
					}
			*/
.custom-section-footer {
  xxxbackground-color: blue;
  margin-bottom: 20px;
  border: 0px solid red;
  margin-bottom: 75px;
}
.custom-section-footer p {
  xxxtext-align: right;
}
